<h2>Indonesia Traveller</h2>
<section class="section">
    <div class="feature_1">
    </div>
    <div>
        <h5>Yogyakarta - Borobudur Temple</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet nisl suscipit adipiscing bibendum est ultricies integer quis. Commodo odio aenean sed adipiscing diam donec. A pellentesque sit amet porttitor eget dolor morbi non arcu. Dui id ornare arcu odio ut sem. Accumsan lacus vel facilisis volutpat est velit egestas. Consequat mauris nunc congue nisi vitae suscipit tellus. In ante metus dictum at tempor commodo ullamcorper a lacus. Nunc sed id semper risus in hendrerit gravida rutrum. Dui accumsan sit amet nulla facilisi morbi tempus iaculis urna. Massa id neque aliquam vestibulum. Et ligula ullamcorper malesuada proin libero nunc consequat.</p>
    </div>
    <div>
        <h5>Yogyakarta - Malioboro Street</h5>
        <p>Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. In hac habitasse platea dictumst. Ac tortor vitae purus faucibus ornare suspendisse sed nisi. Velit sed ullamcorper morbi tincidunt ornare. Integer eget aliquet nibh praesent tristique. Ornare arcu odio ut sem nulla pharetra diam sit. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Suspendisse sed nisi lacus sed viverra tellus in hac. Et magnis dis parturient montes nascetur. Nulla facilisi cras fermentum odio. Sed id semper risus in hendrerit gravida rutrum quisque. Sodales ut eu sem integer vitae justo eget magna fermentum. Orci dapibus ultrices in iaculis nunc sed. Augue eget arcu dictum varius duis at consectetur lorem. Faucibus a pellentesque sit amet porttitor eget dolor.</p>
    </div>
    <div class="feature_2">
    </div>
</section>