<h2>Welcome</h2>
<section class="section">
    <div>
        <h5>Malang indonesia</h5>
        <p>Here in this website let's share our best pictures and moments so we could improve
            our skills of Photography.
        </p>
    </div>
</section>