<header>
    <nav class="header-nav">
        <a class="header-title" href="/">ImagS</a>
        <ul>
            <li><a href="/authors">Photographer</a></li>
            <li><a href="/authors/new">Add Photographer</a></li>
            <li><a href="/books">Images</a></li>
            <li><a href="/books/new">Add Images</a></li>
        </ul>
    </nav>
</header>